@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

@media only screen and (min-width: 800px) {
    body {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

@media only screen and (max-width: 800px) {
    body {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .icon { margin: 5px; }
}

:root { background-color: rgb(15, 15, 15); }
* { margin: 0; }

#body {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
}

#header {
    background-color: black;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#avatar {
    margin: 1vw;
}

#comp-icon {
    width: 5vw;
}

#computer {
    background: none;
    border: none;
    outline: none;
    width: 3.5vw;
    margin: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#computer:hover {
    cursor: pointer;
    animation: none;
}

#footer {
    background-color: black;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer a {
    display: flex;
    margin: 5px;
}